/* src/styles/Section.module.css */
.sectionContainer {
    width: 100%;
    max-width: 60rem;
    margin: 4rem 2rem;
  }
  
  .sectionTitle {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: transparent;
    position: relative;
    /* blur réduit : 2px & 4px */
    text-shadow:
      0 0 2px var(--color-neon-cyan),
      0 0 4px var(--color-neon-cyan);
  }
  
  .sectionContent {
    line-height: 1.6;
    color: rgba(255,255,255,0.9);
  }
  